<style type="text/css">

body {font-family:sans-serif;}
body,td,input,form,div {margin:0;font-size:11px;font-family:Arial}
     /* . Is for ID used only once.They are Uniques*/
	.Outer {text-align:center}
	.BannerI {text-align:center;margin-top:15px}
     /* # Is for classes, used for resuability*/
	#BannerT {margin:0px auto;width:850px}
	#BannerO {margin:0px auto;width:800px}	
	#BannerB { height: 200px;  background-color: #BFBFBF;  text-align: center;  vertical-align: middle;
		margin-left: 20px;  margin-right: 20px;	margin:0px auto; width:820px}
	#Locates {position: relative;  top: 50%;  text-align: center;  transform: translateY(-50%);}



	p {text-align:justify;font-size:10px;line-height:15px;margin:0px 0px 14px 0px;padding:0}


	h1,h2,h3,h4,h5 {margin:0;padding:0;font-weight:normal}
	h1 {font-size:25px;height:35px;text-align:left;}
	h2 {font-size:32px;height:46px;text-align:left}
	h3 {margin-bottom:14px;font-size:20px;font-weight:normal;text-align:left}
	h4 {margin-top:32px;font-size:30px;text-align:center;}

</style>
