*{
	margin: 0px;
	padding: 0px;
}
header 
{
	height: 55px;
}
header a{
	color: black;
}

.container 
{
	width: 940px;
	margin: 0 auto;
}

.logo
{
	float: left;
	font-size: 36px;
	text-align: center;
	background-color: #ff8000;
	width: 135px;
	height: 55px;
}

a{
	outline: 0;
	text-decoration: none;
}

ul{
	list-style-type: none;
}

.h-list li a{
   /* When we use display inline never use float : left they are the same*/
	float: left;
	padding: 20px 0 0 30px;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	outline: 0;
	text-decoration: none;
}

form{
	float: right;
	border: solid;
	border-radius: 10px;
	border-width: 1px;
	margin-top: 5px;
}

.text {	
	border-width: 0px;
	width: 200px;
	height: 40px;
	float: left;
	outline: none;
	margin-left: 10px
}



.icon {

	width: 35px;
	height: 35px;
	padding-right: 8px;
	float: right;
}

.banner
{   height: 544px;
	width: auto;
	
	background: url("../images/banner.jpg" ) no-repeat center ;	
	background-position: center top;
	background-color: black;
}

.banner-img
{
	width: 940px;

}

h1
{
	position: absolute;
	font-size: 44px;
	color: #FFFFFF;
	top: 435px;
	font-family: Arial;	
}

h4
{
	position: absolute;
	font-size: 22px;
	color: #FFFFFF;
	top: 485px;
	font-weight: lighter;
}

h3
{
	font-size: 18px;
}

h5
{
	font-size: 11px;
}

h2
{
	color: #888888;
	font-size: 40px;
}



.content1
{
	background-color: #ecab1f;
	height: 60px;
	padding: 20px 0px;
	margin-bottom: 60px;
}
.box 
{
    border-radius: 10px;
    background: #FFFFFF;
    width: 220px;
    height: 60px;
}
.content1 ul li {
	float: left;
	margin-right: 20px;	
	text-decoration: none;
	font-size: 16px;
	color: #000;
	outline: 0;
	
}
.content1 .nomargin{
	margin-right: 0px;
}

.content1 ul li a{
	color: #222222;
}

.box-image{
	float: right;
	padding-top: 18px;
	padding-right: 10px;
}

.happening h2{
	color: #888888;
	font-size: 40px;
}

img{
	display: block;
}

span{
	float: left;
	font-size: 22px;
	padding-top: 20px;
	padding-left: 20px;
}
.images-list li {
	float: left;
	display: block;
	margin-right: 20px;	
	text-decoration: none;
}
.images-list .remove{
	margin-right: 0px;
}

.back-image{
	background-color: #4466ff;
	color: white;
	padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    
}
.content2 a{
	background-color: #4466ff;
}

.clear
{
	clear: both;
}

